<!DOCTYPE html>
<html lang="ro" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produs Nou</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
<div class="container my-4">
    <div class="row">
        <div class="col-md-8 mx-auto rounded border p-4">
            <h2 class="text-center mb-5">Editeaza Produs</h2>
            <form method="post" th:object="${listaDto}">
                <div class="row mb-3">
                    <label class="col-sm-4 col-from-label">ID Produs</label>
                    <div class="col-sm-8">
                        <input class="form-control-plaintext" readonly th:value="${lista.id}" />

                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-from-label">Nume Produs</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${listaDto.numeProdus}" />
                        <p th:if="${#fields.hasErrors('numeProdus')}"
                           th:errorclass="text-danger"
                           th:errors="${listaDto.numeProdus}"></p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-from-label">Pret Produs</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${listaDto.pretProdus}" />
                        <p th:if="${#fields.hasErrors('pretProdus')}"
                           th:errorclass="text-danger"
                           th:errors="${listaDto.pretProdus}"></p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-from-label">Cantitate Produs</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${listaDto.cantitateProdus}" />
                        <p th:if="${#fields.hasErrors('cantitateProdus')}"
                           th:errorclass="text-danger"
                           th:errors="${listaDto.cantitateProdus}"></p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="offset-sm-4 col-sm-4 d-grid">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <br>

                    <div class="col-sm-4 d-grid">
                        <a class="btn btn-outline-primary" href="/">Inapoi</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
