<!DOCTYPE html>
<html lang="ro" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Produse</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>Lista Produse</h1>
<div style="text-align: center;">
    <a class="btn btn-primary" href="/create">Adaugă un produs</a>
</div>

<form id="multiDeleteForm" method="post" th:action="@{/deleteMultiple}">
    <table>
        <thead>
        <tr>
            <th>Selectează</th>
            <th>ID</th>
            <th>Nume Produs</th>
            <th>Cantitate Produs</th>
            <th>Pret Produs</th>
            <th>Cumpărat</th>
            <th>Acțiuni</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="produs : ${produse}">
            <tr th:classappend="${produs.cumparat} ? 'cumparat' : ''">
                <td>
                    <input type="checkbox" name="selectedIds" th:value="${produs.id}">
                </td>
                <td th:text="${produs.id}"></td>
                <td th:text="${produs.numeProdus}"></td>
                <td th:text="${produs.cantitateProdus}"></td>
                <td th:text="${produs.pretProdus}"></td>
                <td>
                    <span th:text="${produs.cumparat} ? 'Da' : 'Nu'"></span>
                </td>
                <td>
                    <!-- Butonul Cumpără -->
                    <form th:action="@{/marcheazaCumpărat}" method="post" style="display: inline;">
                        <input type="hidden" name="id" th:value="${produs.id}" />
                        <button type="submit" class="btn" th:text="${produs.cumparat} ? 'Anulează' : 'Cumpără'"></button>
                    </form>


                    <!-- Butonul Editează -->
                    <a th:href="@{/editare(id=${produs.id})}" class="btn btn-primary">Editează</a>

                    <!-- Butonul Șterge -->
                    <a th:href="@{/stergere(id=${produs.id})}" class="btn btn-danger">Șterge</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <div style="margin-top: 10px;">
        <button type="submit" class="btn btn-primary">Șterge Produsele Selectate</button>
    </div>

</form>

</body>
</html>
